* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #EF6C00;
    --alert:#f42310;
    --dark: #1a1a1a;
    --gray: #6c757d;
    --ligth: #f8f9fa;
    --radius: 16px;
    --shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'MontSerrata', sans-serif;
    line-height: 1.6;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.btn {
    background: var(--primary);
    display: inline-block;
    padding: 12px 24px;
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(0.9);
    transform: translateY(-4px);
}

.btn-outline {
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.btn-outline:hover {
    background: var(--primary);
    color: #fff;
}

.btn-light {
    background: #fff;
    color: var(--primary);
}

.btn-call {
    background: var(--ligth);
    color: var(--dark);

}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

header {
    position: fixed;
    inset: 0 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15%;
    background: var(--primary);
    box-shadow: var(--shadow);
    z-index: 99;
}

header nav {
    display: flex;
    gap: 30px;
}

header nav a {
    font-weight: 600;
}

header nav a:hover {
    color: var(--ligth);
}

.hero-section {
    background: linear-gradient(135deg, #fff9f5, white);
    padding-top: 80px;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: var(--gray);
    margin-bottom: 30px;
}

.hero img {
    border-radius:  var(--radius);
    box-shadow: 0 20px 60px rgba(255, 130, 53, 0.414);
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}

.hero-stats {
    display: flex;
    gap: 40px;
}

.hero-stats li {
    display: flex;
    flex-direction: column;
    color: var(--gray);
   
}

.hero-stats span {
    font-size: 14px;
    color: var(--gray);  
}

.hero-stats strong {
    font-size: 28px;
    line-height: 1.0;
    color: var(--primary);
}

.produtos {
    padding: 80px 5%;
    text-align: center;
}

.produtos h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.produtos p {
    color: var(--gray);
    margin-bottom: 60px;

}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-grid li {
    position: relative;
    background: #fff;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow);
    text-align: left;
}

.menu-grid li img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: var(--alert);
    color: #fff;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
}

.menu-grid h3 {
    padding: 20px 20px 10px;
    font-size: 20px;
}

.menu-grid h5 {
    padding: 20px 20px 10px;
    font-size: 1.0rem;
    color: var(--primary);
    font-weight: 700;
}

.menu-grid p {
    padding: 0 20px;
    font-size: 14px;
    color: var(--gray);
}

.menu-grid strong {
    display: block;
    padding: 15px 20px 0;
    font-size: 22px;
    color: var(--primary);
}

.menu-grid .btn {
    display: block;
    margin: 15px 20px 20px;
    text-align: center;
    padding: 10px;
}

.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    padding: 80px 5%;
    background: var(--ligth);
}

.sobre img {
    border-radius: var(--radius) ;
    box-shadow: var(--shadow);
}

.sobre h2 {
    font-size: 33px;
    margin-bottom: 20px;
}

.sobre article {
    color: var(--gray);
    margin-bottom: 33px;
}

.sobre li {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cta  {
    padding: 80px  5%;
    text-align: center;
    background: linear-gradient(135deg, var(--primary), #e52b2b);
}

.cta h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 1.9em;
}

.cta p {
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.671);
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 60px 5% 20px;
    background-color: var(--dark);
    color: #fff;
}

footer p {
    color: rgba(255, 255, 255, 0.671);
    font-size: 0.9rem;
}

footer .copy {
    grid-column: 1/-1;
    text-align: center;
}

.btn-mobile {

    display: none; /* Esconde o hamburguer no desktop */
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}


/* --- RESPONSIVIDADE (MOBILE) --- */

@media (max-width: 768px) {
    
    /* Ajustes Gerais */
    :root {
        /* Reduz um pouco o tamanho da fonte base se necessário */
        font-size: 90%; 
    }

    .btn-mobile {
    display: none; /* Esconde o hamburguer no desktop */
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    }

    /* Cabeçalho (Header) */
    header {
        padding: 40px 5%;
        flex-direction: column; /* Empilha logo, menu e botão */
        gap: 15px;
        position: relative; /* No mobile, geralmente tiramos o fixed ou ajustamos o topo */
    }
/* 
    header nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        text-align: center;
    } */


    .nav-wrapper a:hover {
        color: #333;
    }

    .btn-call {
        display: none;
    }

    /* O Menu em si (Estado FECHADO) */
    #navegation {
        display: none; /* Começa invisível */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh; /* Tela inteira */
        background: rgba(255, 255, 255, 0.95);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        z-index: 999;
    }

    /* Estilo dos links no mobile */
    #navegation a {
        font-size: 24px;
        color: var(--primary);
        font-weight: bold;
    }

    /* O Menu (Estado ABERTO) - O JS vai adicionar essa classe */
    #navegation.aberto {
        display: flex; /* Muda de none para flex para aparecer */
    }


    /* Hero Section (Início) */
    .hero-section {
        padding-top: 20px; /* Menos espaço pois o header mudou */
    }

    .hero {
        grid-template-columns: 1fr; /* Transforma 2 colunas em 1 */
        text-align: center;
        gap: 40px;
        padding: 40px 5%;
    }

    .hero h1 {
        font-size: 32px; /* Diminui o tamanho do título */
    }

    .hero-buttons {
        justify-content: center; /* Centraliza botões */
        flex-wrap: wrap; /* Permite quebrar linha se a tela for muito pequena */
    }

    .hero-stats {
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    /* Seção Sobre */
    .sobre {
        grid-template-columns: 1fr; /* Transforma 2 colunas em 1 */
        padding: 60px 5%;
        text-align: center;
    }

    /* Reordenar para a imagem ficar em cima (opcional) */
    .sobre img {
        order: -1; 
        margin-bottom: 20px;
    }
    
    .sobre li {
        text-align: left; /* Mantém a lista alinhada à esquerda para leitura */
    }

    /* Ajuste na Grid de Produtos */
    .menu-grid {
        /* Ajusta o tamanho mínimo para caber em telas menores (ex: iPhone SE) */
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 0 10px;
    }

    /* Footer */
    footer {
        grid-template-columns: 1fr; /* Empilha tudo em 1 coluna */
        text-align: center;
        gap: 30px;
    }

    footer .copy {
        margin-top: 20px;
    }

    i {
        color: #fff;
        position: fixed;
        left: 50px;
        font-size: 20px;
        cursor: pointer;
    }
}